.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  padding: 20px 0px;
  text-align: center;
  font-family: arial;
  padding: 30px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  border-radius: 10px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(255, 69, 69);
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
}

.image-card {
  width: 200px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 100px;
}

.container-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
