.title {
  color: rgb(255, 69, 69);
}

.container-bonus {
  margin: 0px 100px;
  padding: 0;
}
.bonus-list {
  display: flex;
  flex-direction: row;
}

.container-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-family: poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}
.right .list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-family: poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}
.left .icon-medal {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: end;
  padding: 10px;
  margin-left: 20px;
}
.right .icon-medal {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: end;
  padding: 10px;
  margin-right: 20px;
}

.left ul {
  list-style-type: none;
}
